/* Estilos para los botones */
.btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fffbff;
    background-color: #dc0bef;
    border-color: #dc0bef;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    }
    
    .btn:hover {
    color: #fff;
    background-color: #dc0bef;
    border-color: #dc0bef;
    }
    
    /* Estilos para el contenido */
    h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
    }
    
    p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    }
    
    img {
    max-width: 500px;
    height: auto ;
    }
